:root {
    --loading-image-height: 10px;
}

img {
    object-fit: cover !important;
    min-height: var(--loading-image-height) !important;
    max-height: var(--loading-image-height) !important;
    height: var(--loading-image-height) !important;
    width: 100% !important;
    overflow: hidden !important;

}