:root {
    --nav-height: 100px;
    --pink-backgrond: #f4c5cd; 
}

body {
    background-color: var(--pink-backgrond);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: var(--pink-backgrond);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    font-weight: 800;
}

#logo {
    margin: 20px;
    width: calc(var(--nav-height) * .70);
    height: calc(var(--nav-height) * .70);
    animation: .35s pop;
}

#logo:hover {
    transform: scale(102%);
}

#navigation {
    list-style-type: none; 
    display: inline-flex;
    font-size: 1.25rem;
    margin: auto 0;
    font-family: "lemon-milk";
}

.navItem {
    padding-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
}

.borderBottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.borderBottom:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.hoverPadding:hover {
    padding: 0 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    list-style-type: none; 
    display: none;
    background-color: white;
    width: 100%;
    font-size: 1rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
    z-index: 10;
    padding: 0;
}

.dropdownItem {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    padding: 12px 0;
    margin: 0;
}

.dropdownItem:hover {
    font-size: 1.02rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.7);
}

#cart {
    opacity: .8;
    margin-left: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
}

#cart:hover {
    transform: scale(104%);
    opacity: 1;
}

.nav-icons {
    width: 35px;
    height: 35px;
}

/* end of nav */

.main-margin-top {
    margin-top: var(--nav-height);
}

.featured-section {
    margin: 30px auto;
    max-width: 1300px;
    padding: 0 30px;
}

.featured-section h2 {
    margin-top: 50px;
    font-family: "lemon-milk";
    font-size: 3rem;
    text-align: center;
}

.flex-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    width: 100%;
    margin-bottom: 100px;
}

.product {
    transition-duration: .2s;
    transition-property: scale;
}

.product:hover {
    transform: scale(101%);
    transition-duration: .2s;
}

.product h3 {
    margin: 20px 0;
    padding: 0px 10px;
    font-family: "lemon-milk";
    font-size: 1.3rem;
}

.product p {
    margin: 8px 0;
    padding: 0px 10px;
}

.center-img {
    width: 95%;
    object-fit: fill;
    margin: auto;
    display: flex;
    justify-content: center;
}

.product img {
    max-width: 100%;
    object-fit: fill;
    margin: auto;
}

/* footer */
footer {
    display: flex;
    position: relative;
    bottom: 0;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 300px;
    max-height: 1000px;
    background-color: #231f20;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    color: white;
    font-family: "Open Sans", Helvetica;
    text-align: center;
    margin-top: 150px;
}

.absolute-footer {
    position: absolute;
}

footer div {
    padding: 0 40px;
}

footer h4 {
    font-size: 1.7rem;
    text-decoration: underline;
}

.break {
    flex-basis: 100%;
    height: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-icon-text-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons {
    width: 22px;
    height: 22px;
    margin: auto 0;
}

.footer-p-social {
    font-size: 1.15rem;
    margin: auto 12px;
}

footer p {
    font-size: 1.15rem;
}

#footerLogo {
    width: 35px;
    height: 35px;
    align-self: flex-end;
    padding-bottom: 40px;
}

/* boilerplate classes */
.display-none {
    display: none;
}

.display-block {
    display: block !important;
}

.underline {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.hamburger-expanded {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.red {
    color: rgb(255, 20, 20);
}

/* phones */
@media screen and (max-width: 800px){
    :root {
        --icon-size: 40px;
    }

    html {
        font-size: 20px;
    }

    .navigation-expand {
        position: absolute;
        top: 10vh;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .4);
        margin: 0;
        padding: 0;
    }

    .navItem {
        display: none;
    }

    .navLinksDropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        background-color: white;
        gap: 10px !important;
    }
    
    .navItemDropdown {      
        display: block;
        border: none;
        line-height: 60px;
        width: 100%;
        padding: 0 !important;
        margin: 0 auto;
        border: none !important;
    }

    .navItemDropdown:hover {
        transition: scale 5s;
        transform: scale(102%);
    }

    .border-break {
        width: 0;
        height: 0;
    }

    #cart {
        margin-right: 30px;
    }

    .cart-absolute {
        display: block;
        position: absolute;
        top: -6.5vh;
        right: 100px;
    }

    #hamburger {
        display: block;
        margin-top: 2px;
        margin-right: 5vw;
    }

    #hamburger:hover {
        transform: scale(102%);
    }

    .product {
        width: 75%;
        background-color: white;
        border-radius: 15px;
        padding: 0 20px;
        padding-bottom: 35px;
        overflow: hidden;
    }
}

/* desktop */
@media screen and (min-width: 801px){
    html {
        font-size: 16px;
    }

    #navigation {
        gap: 1.8rem;
    }

    .navItem:hover {
        padding-bottom: 10px;
    }    

    #dropdown-content {
        position: absolute;
    }

    .dropdown:hover #dropdown-content {
        display: block;
    }

    #cart {
        display: block;
        margin-right: 5vw;
    }

    #hamburger {
        display: none !important;
    }
    
    .product {
        min-width: 300px;
        min-height: 370px;
        width: 19%;
        max-width: 1000px;
        background-color: white;
        border-radius: 15px;
        padding: 5px 20px;
        overflow: hidden;
    }
}

/* reveal animation */
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: .8s all ease;
}
  
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* animations */
@keyframes pop {
    0% {
        transform: scale(70%);
    }
    90% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}

/* fonts */
@font-face {
    font-display: swap;
    font-family: "lemon-milk";
    src: url("/fonts/lemon_milk_font/LEMONMILK-Regular.otf") format("opentype"),
         url("/fonts/lemon_milk_font/LEMONMILK-Bold.otf") format("opentype"),
         url("/fonts/lemon_milk_font/LEMONMILK-Light.otf") format("opentype"),
         url("/fonts/lemon_milk_font/LEMONMILK-Medium.otf") format("opentype");
}
  