html {
    font-size: 16px;
}

body {
    background-color: #f4c5cd;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo {
    margin: 20px;
    width: 120px;
    animation: .35s pop;
}

nav ul {
    list-style-type: none; 
    display: inline-flex;
    font-size: 1.35rem;
    margin: auto 0;
    font-family: "lemon milk regular";
    gap: 1.8rem;
}

.navItem {
    padding-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}

.borderBottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.borderBottom:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

#ourProducts {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navItem:hover {
    padding: 0 1px;
    padding-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    font-size: 1rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownItem {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    padding: 12px 0;
    margin: 0;
}

.dropdownItem:hover {
    font-size: 1.02rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.7);
}

@keyframes pop {
    0% {
        transform: scale(70%);
    }
    90% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}

@font-face {
    font-family: "lemon milk regular";
    src: url("/Fonts/lemon_milk_font/LEMONMILK-Regular.otf") format("opentype");

    /* src: url("/Fonts/lemon_milk_font/LEMONMILK-Bold.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-BoldItalic.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-Light.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-LightItalic.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-Medium.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-MediumItalic.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-Regular.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-RegularItalic.otf") format("opentype"); */
  }
  