html {
    font-size: 16px;
}

body {
    background-color: #f4c5cd;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo {
    width: 10%;
    animation: .4s pop;
}

nav ul {
    list-style-type: none; 
    display: inline-flex;
    font-size: 1.35rem;
    margin: auto 0;
    font-family: "lemon milk regular";
    gap: 1.8rem;
}

nav ul  li{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@keyframes pop {
    0% {
        transform: scale(70%);
    }
    90% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}

@font-face {
    font-family: "lemon milk regular";
    src: url("/Fonts/lemon_milk_font/LEMONMILK-Regular.otf") format("opentype");

    /* src: url("/Fonts/lemon_milk_font/LEMONMILK-Bold.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-BoldItalic.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-Light.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-LightItalic.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-Medium.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-MediumItalic.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-Regular.otf") format("opentype"),
         url("/Fonts/lemon_milk_font/LEMONMILK-RegularItalic.otf") format("opentype"); */
  }
  